<section class="ajr-container-grey">

  <article class="ajr-item">
    <section class="ajr-containercolumn">

      <article class="ajr-item black">
        Copy/paste Word Search Here:
      </article>

      <article class="ajr-item-100">
        <form>
          <section class="ajr-container grey">
            <article class="ajr-item-90">
              <textarea name="Text1" cols="92" rows="35" class="ajr-center-input"></textarea>
            </article>

            <article class="ajr-item-10">
              <section class="ajr-container-column">
                <app-buttons></app-buttons>
              </section>
            </article>
          </section>
        </form>
      </article>
    </section>
  </article>

  <article class="ajr-item">
    <section class="ajr-containercolumn">
      <article class="ajr-item black">
        Results:
      </article>

      <article class="ajr-item">

      </article>
    </section>
  </article>
</section>